button {
    background-color: #ff9e6e; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline-block */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
    transition-duration: 0.4s; /* 0.4 seconds transition effect to hover state */
}

button:hover {
    background-color: #e6b89c; /* White background on hover */
    color: black;
}

body {
    background-color: #ffd5bd; /* Light grey background */
    font-family: Arial, sans-serif; /* Use Arial font */
    color: #947a7a;
}

a {
    color: #947a7a; /* White text */
    text-decoration: none; /* Remove underline */
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px; /* Space between each input and button */
    margin-top: 2rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #ff9e6e;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #e6b89c;
    outline: none;
}